.summary {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem auto;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
    transform: translateY(20%);
}
