.total {
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.center {
    width: 100%;
    text-align: center;
}

.cart-items {
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    max-height: 20rem;
    overflow: scroll;
}

i.fas:hover {
    cursor: pointer;
}
