.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input input {
    font-family: inherit;
    padding: 0.75rem;
    width: 100px;
    background-color: hsl(0, 0%, 94%);
    color: black;
    border: none;
    text-align: center;
    border-radius: 2px;
}
